<div class="sidebar bg-primary text-white">
  <div class="sidebar-header p-3">
    <h3><i class="fa fa-key" style="margin-right: 0.5rem;"></i>{{.globals.AppName}}</h3>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link {{if eq .navLink ""}}active{{end}}" href="/">
        <i class="fa fa-home me-2"></i> Inicio
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {{if eq .navLink "systems"}}active{{end}}" href="/systems">
        <i class="fa fa-cogs me-2"></i> Sistemas
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link {{if eq .navLink "users"}}active{{end}}" href="/users">
        <i class="fa fa-users me-2"></i> Usuarios
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link {{if eq .navLink "users"}}active{{end}}" href="/logs">
        <i class="fa fa-history me-2"></i> Ver Logs
      </a>
    </li>
</div>