<!DOCTYPE html>
<html lang="es"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}}</title>
  <link rel="icon" href="{{.globals.StaticURL}}/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="{{.globals.StaticURL}}/dist/vendor.min.css">
  <style>
    .message-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .fw-bold{
      color: var(--primary-color);
    }

    .fa{
      margin-right: 10px;
    }
  </style>
</head>
<body>
  {{template "content_message_center" .}}
</body>
</html>