<!DOCTYPE html>
<html lang="es"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}}</title>
  <link rel="icon" href="{{.globals.StaticURL}}/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="{{.globals.StaticURL}}/dist/vendor.min.css">
  <style>
    .error-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .fw-bold{
      color: var(--primary-color);
    }

    .fa{
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="error-container">
      <h1 class="display-1 fw-bold">401</h1>
      <h2 class="mb-3">¡Oops! Todo bien por acá?</h2>
      <p class="text-muted">No tienes permisos para acceder a este recurso</p>
      <a href="{{.globals.BaseURL}}/sign-in" class="btn btn-primary mt-3">
        <i class="fa fa-sign-in icon-left-margin" aria-hidden="true"></i> Ingresar a la Aplicación
      </a>
    </div>
  </div>
</body>
</html>