{{define "401"}}
  {{template "blank_header.html" .}}
  <div class="container">
    <div class="message-container">
      <h1 class="display-1 fw-bold">401</h1>
      <h2 class="mb-3">¡Oops! Todo bien por acá?</h2>
      <p class="text-muted">No tienes permisos para acceder a este recurso</p>
      <a href="{{.globals.BaseURL}}/sign-in" class="btn btn-primary mt-3">
        <i class="fa fa-sign-in icon-left-margin" aria-hidden="true"></i> Ingresar a la Aplicación
      </a>
    </div>
  </div>
  {{template "blank_footer.html" .}}
{{end}}