<!DOCTYPE html>
<html lang="es"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.title}}</title>
  <link rel="icon" href="{{.globals.StaticURL}}/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="{{.globals.StaticURL}}/dist/vendor.min.css">
  <style>
    .error-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
    }

    .fw-bold{
      color: var(--primary-color);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="error-container">
      <h2 class="mb-3">Ha cerrado su sessión</h2>
      <p class="text-muted">Si no eres redirigido automáticamente a la página de inicio, haz clic en el botón de abajo.</p>
      <a href="/sign-in" class="btn btn-primary mt-3">
        <i class="fa fa-home icon-left-margin" aria-hidden="true"></i> Ir al inicio
      </a>
    </div>
  </div>
  <script>
    localStorage.clear();
    setTimeout(() => {
      window.location.href = "/sign-in";
    }, 3000);
  </script>
</body>
</html>