{{define "users/edit"}}
  {{template "dashboard_header.html" .}}
  
  <div class="container-fluid py-4">
    <h3 class="mb-4">
      <a class="return-nav" href="/users"><i class="fa fa-users me-2"></i>Gestión de Usuarios</a>
      / Editar Usuario
    </h3>

    {{if .message.Type}}
    <div class="alert alert-{{.message.Type}}">
        {{.message.Content}}
    </div>
    {{end}}

    <div class="card">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-info-circle me-2"></i>
          Datos del Usuario
        </h6>
      </div>
      <div class="card-body">
        <form method="POST" action="/users/{{.user.ID}}/edit">
          <input type="hidden" name="_csrf" value="{{.csrfToken}}">
          
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="username" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="username" name="username" required value="{{.user.Username}}">
            </div>
            
            <div class="col-md-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" value="{{.user.Email}}">
            </div>
            
            <div class="col-md-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="passwordInput" name="passwordInput" disabled value="{{.user.Password}}"/>
              <input type="hidden" class="form-control" id="password" name="password" value="{{.user.Password}}"/>
            </div>

            <div class="col-md-3">
              <label for="status" class="form-label">Estado</label>
              <select id="status" name="status" class="form-select">
                <option value="">Todos los estados</option>
                <option value="active" {{if .user.Activated}}selected{{end}}>Activo</option>
                <option value="inactive" {{if not .user.Activated}}selected{{end}}>Inactivo</option>
              </select>
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="created" class="form-label">Creado</label>
              <input type="text" class="form-control" id="created" name="created" value="{{formatDateTime .user.Updated}}" disabled>
            </div>
            
            <div class="col-md-3">
              <label for="updated" class="form-label">Actualizado</label>
              <input type="text" class="form-control" id="updated" name="updated" value="{{formatDateTime .user.Updated}}" disabled>
            </div>
            
            <div class="col-md-1"></div>
            
            <div class="col-md-5 text-end mt-4">
              <a href="/users" class="btn btn-secondary me-2">
                <i class="fa fa-arrow-left"></i> Cancelar
              </a>
              <button class="btn btn-primary" id="btnRandomPassword">
                <i class="fa fa-refresh"></i> Generar Contraseña
              </button>
              <a href="/users/{{.user.ID}}/logs" class="btn btn-primary me-2">
                <i class="fa fa-search"></i> Ver Actividad
              </a>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <h6 class="mb-0">
          <i class="fa fa-list me-2"></i>
          Privilegios del Usuario
        </h6>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const btnRandomPassword = document.getElementById('btnRandomPassword');
      const passwordInput = document.getElementById('passwordInput');
      const password = document.getElementById('password');

      function generatePassword(length) {
        const chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        let password = "";
        for (let i = 0; i < length; i++) {
          password += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        return password;
      }

      function copyToClipboard(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        try {
          document.execCommand('copy');
        } catch (err) {
          console.error('No se pudo copiar el texto', err);
        }
        document.body.removeChild(textarea);
      }

      btnRandomPassword.addEventListener('click', (e) => {
        e.preventDefault();
        const newPassword = generatePassword(10);
        passwordInput.value = newPassword;
        password.value = newPassword;
        
        copyToClipboard(newPassword);
        alert('¡Contraseña generada y copiada al portapapeles!');
      });
    });
  </script>


  {{template "dashboard_footer.html" .}}
{{end}}